BAND_REST_URL=your_value_here
DEMO_USER_AGENT_ID=your_value_here
DEMO_USER_API_KEY=your_value_here
DEMO_USER_HANDLE=your_value_here

ROUTER_AGENT_ID=your_value_here
ROUTER_API_KEY=your_value_here
CRM_AGENT_ID=your_value_here
CRM_API_KEY=your_value_here
ERP_AGENT_ID=your_value_here
ERP_API_KEY=your_value_here
FINANCE_AGENT_ID=your_value_here
FINANCE_API_KEY=your_value_here
RECONCILIATION_AGENT_ID=your_value_here
RECONCILIATION_API_KEY=your_value_here
ROOTCAUSE_AGENT_ID=your_value_here
ROOTCAUSE_API_KEY=your_value_here
